{% extends 'base.html.twig' %}

{% block title %}Gala{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 offset-lg-2 text-center affiche">
			<img src="{{ asset('build/images/affiche.jpeg') }}" alt="" class="img-fluid">
		</div>
	</div>
{% endblock %}
{% block logo %}{% endblock %}
